<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <title th:text="#{title.portal}">Title</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

    <script src="https://cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

    <script th:src="@{/js/underscore-min.js}"></script>
    <script th:src="@{js/multivariate-normal.min.js}"></script>
    <script th:src="@{Cesium/Cesium.js}"></script>
    <script th:src="@{js/bootstrap.file-input.js}"></script>
    <script th:src="@{js/portal.js}"></script>
    <style>
        @import url(/Cesium/Widgets/widgets.css);
        #cesiumContainer {
            width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
        }
    </style>

</head>
<body>
    <div class="container-fluid">
        <p></p>
        <div class="row">
            <div class="col-lg-9">
                <div class="panel panel-default">
                    <div id="cesiumContainer"></div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Control Panel</h3>
                    </div>
                    <div class="panel-body">
                        <form id="fileUploadForm" method="POST" enctype="multipart/form-data" action="/upload_config_file" class="form-inline">
                            <div class="form-group">
                                <input th:type="file" th:name="file" title="Select Configuration File">
                            </div>
                            <button th:type="submit" class="btn btn-primary" th:id="btnFileUploadSubmit">Upload Configuration File</button>
                        </form>
                        <!--<form action="#" th:action="@{/satelliteDataRequest}" th:object="${satellite}" method="post" id="formSatellitesRefresh">-->
                            <!--<div class="form-group">-->
                                <!--<select th:field="*{satelliteList}" class="selectpicker" multiple th:title="#{placeholder.select.satellites}">-->
                                    <!--<option th:each="sat: ${satellite.satelliteList}"-->
                                            <!--th:value="${sat.id}"-->
                                            <!--th:text="${sat.name}">Satellite Name</option>-->
                                <!--</select>-->

                                <!--<div class="btn btn-warning">Default Satellite Orbits</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<div class="input-group">-->
                                    <!--<span class="input-group-addon" id="x">X</span>-->
                                    <!--<input th:type="text" class="form-control" placeholder="x coordinate">-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<div class="input-group">-->
                                    <!--<span class="input-group-addon" id="y">Y</span>-->
                                    <!--<input th:type="text" class="form-control" placeholder="y coordinate">-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<div class="input-group">-->
                                    <!--<span class="input-group-addon" id="z">Z</span>-->
                                    <!--<input th:type="text" class="form-control" placeholder="z coordinate">-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<div class="input-group">-->
                                    <!--<span class="input-group-addon" id="time">Time</span>-->
                                    <!--<input th:type="text" class="form-control" placeholder="Time">-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<button type="submit" class="btn btn-primary btn-block">Predictive Satellite Orbits</button>-->
                            <!--</div>-->
                        <!--</form>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>